<div class="container-fluid">
  <div class="row p-3 mb-2 rounded rounded-top-0 rounded-bottom-5 bg-body-secondary sticky-top">
    <div class="btn-group nav nav-pills" id="pills-tab" role="group" aria-label="Basic example">
      <button class="btn btn-info" id="pills-agregar-tab" data-bs-toggle="pill" data-bs-target="#pills-agregar" type="button" role="tab" aria-controls="pills-agregar" aria-selected="true">Agregar</button>
      <button class="btn btn-info" id="pills-eliminar-tab" data-bs-toggle="pill" data-bs-target="#pills-eliminar" type="button" role="tab" aria-controls="pills-eliminar" aria-selected="false">Eliminar</button>
      <button class="btn btn-info" id="pills-modificar-tab" data-bs-toggle="pill" data-bs-target="#pills-modificar" type="button" role="tab" aria-controls="pills-modificar" aria-selected="false">Modificar</button>
      <button class="btn btn-info" id="pills-listar-tab" data-bs-toggle="pill" data-bs-target="#pills-listar" type="button" role="tab" aria-controls="pills-listar" aria-selected="false" (click)="obtenerProductos()">Listar</button>
    </div>
  </div>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade" id="pills-agregar" role="tabpanel" aria-labelledby="pills-agregar-tab" tabindex="0">
      <div class="card m-2">
        <div class="card-header">
          <h3>Agregar Producto</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label for="nombreProducto" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombreProducto" aria-describedby="nombreProductoAyuda" [(ngModel)]="producto.nombre" name="nombreProducto">
              <div id="nombreProductoAyuda" class="form-text">Ingrese el nombre del Producto</div>
            </div>
            <div class="mb-3">
              <label for="descripcionProducto" class="form-label">Descripcion</label>
              <input type="text" class="form-control" id="descripcionProducto" [(ngModel)]="producto.descripcion" name="descripcionProducto" >
            </div>
            <div class="mb-3">
              <label for="imagenProducto" class="form-label">Imagen</label>
              <input type="text" class="form-control" id="imagenProducto" aria-describedby="imagenProductoAyuda" [(ngModel)]="producto.imagen" name="imagenProducto">
              <div id="imagenProductoAyuda" class="form-text">Ingrese el link de una imagen</div>
            </div>
            <div class="mb-3">
              <label for="precioProducto" class="form-label">Precio</label>
              <input type="number" class="form-control" id="precioProducto" aria-describedby="precioProductoAyuda" step="0.01" [(ngModel)]="producto.precio" name="precioProducto">
              <div id="precioProductoAyuda" class="form-text">Puede ingresar decimales de la forma 99,55</div>
            </div>
            <div class="mb-3">
              <label for="stockProducto" class="form-label">Stock</label>
              <input type="number" class="form-control" id="stockProducto" [(ngModel)]="producto.stock" name="stockProducto">
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="productoDestacado" [ngModel]="producto.destacado" name="destacadoProducto" (change)="destacar()">
              <label class="form-check-label" for="productoDestacado" >
                Destacado
              </label>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-outline-info w-100" (click)="cargarProducto()">Enviar</button>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-eliminar" role="tabpanel" aria-labelledby="pills-eliminar-tab" tabindex="0">
      <div class="card m-2">
        <div class="card-header">
          <h3>Eliminar Producto</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label for="idProducto" class="form-label">Id del Producto</label>
              <input type="text" class="form-control" id="idProducto" aria-describedby="idProductoAyuda">
              <div id="idProductoAyuda" class="form-text">Ingrese el id del Producto a eliminar</div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-outline-info w-100">Eliminar</button>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-modificar" role="tabpanel" aria-labelledby="pills-modificar-tab" tabindex="0">
      <div class="card m-2">
        <div class="card-header">
          <h3>Modificar Producto</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label for="idProductoModificar" class="form-label">Id del Producto</label>
              <input type="text" class="form-control" id="idProductoModificar" aria-describedby="idProductoModificarAyuda">
              <div id="idProductoModificarAyuda" class="form-text">Ingrese el id del Producto a modificar</div>
            </div>
            <button class="btn btn-info w-100">Buscar</button>
            <div class="table-group-divider mt-1 mb-1"></div>
            <div class="mb-3">
              <label for="nombreProductoModificar" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombreProductoModificar" aria-describedby="nombreProductoModificarAyuda">
              <div id="nombreProductoModificarAyuda" class="form-text">Ingrese el nombre del Producto</div>
            </div>
            <div class="mb-3">
              <label for="descripcionProductoModificar" class="form-label">Descripcion</label>
              <input type="text" class="form-control" id="descripcionProductoModificar">
            </div>
            <div class="mb-3">
              <label for="imagenProductoModificar" class="form-label">Imagen</label>
              <input type="text" class="form-control" id="imagenProductoModificar" aria-describedby="imagenProductoModificarAyuda">
              <div id="imagenProductoModificarAyuda" class="form-text">Ingrese el link de una imagen</div>
            </div>
            <div class="mb-3">
              <label for="precioProductoModificar" class="form-label">Precio</label>
              <input type="number" class="form-control" id="precioProductoModificar" aria-describedby="precioProductoModificarAyuda" step="0.01">
              <div id="precioProductoModificarAyuda" class="form-text">Puede ingresar decimales de la forma 99,55</div>
            </div>
            <div class="mb-3">
              <label for="stockProductoModificar" class="form-label">Stock</label>
              <input type="number" class="form-control" id="stockProductoModificar">
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="productoModificarDestacado">
              <label class="form-check-label" for="productoModificarDestacado">
                Destacado
              </label>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-outline-info w-100">Modificar</button>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-listar" role="tabpanel" aria-labelledby="pills-listar-tab" tabindex="0">
      <div class="card m-2">
        <div class="card-header">
          <h3>Listar Productos</h3>
        </div>
        <div class="card-body">
          <div class="form-check m-2">
            <input class="form-check-input" type="checkbox" value="" id="listarProductoDestacado" [ngModel]="destacadoLista" name="destacadoLista" (click)="cambiarDestacado()">
            <label class="form-check-label" for="listarProductoDestacado">
              Destacados
            </label>
          </div>
          <div class="row">
            <div class="col-12">
               <div id="carouselExampleInterval" class="carousel slide m-2 mx-auto" style="width: 50%;" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item" [class.active]="i === 0" *ngFor="let p of productos; let i = index">
                      <div class="card">
                        <div class="card-body">
                          <img [src]="p.imagen" class="d-block mx-auto" alt="{{p.nombre}}">
                          <h5>{{p.nombre}}</h5>
                          <p>Precio $ {{p.precio}}</p>
                          <p>{{p.descripcion}}</p>
                        </div>
                        <div class="card-footer">
                          <div class="btn-group align-items-center justify-content-center" role="group" aria-label="Basic mixed styles example">
                            <button type="button" class="btn btn-danger">Eliminar</button>
                            <button type="button" class="btn btn-warning">Modificar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                  </button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
