<div class="container-fluid">
  <div class="row p-3 m-2 rounded rounded-5 bg-body-secondary sticky-top">
    <div class="btn-group nav nav-pills" id="pills-tab" role="group" aria-label="Basic example">
      <button class="btn btn-success" id="pills-agregar-tab" data-bs-toggle="pill" data-bs-target="#pills-agregar" type="button" role="tab" aria-controls="pills-agregar" aria-selected="true">Agregar</button>
      <button class="btn btn-success" id="pills-listar-tab" data-bs-toggle="pill" data-bs-target="#pills-listar" type="button" role="tab" aria-controls="pills-listar" aria-selected="false">Listar</button>
    </div>
  </div>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade" id="pills-agregar" role="tabpanel" aria-labelledby="pills-agregar-tab" tabindex="0">
      <div class="card m-2">
        <div class="card-header">
          <h3>Agregar Transaccion</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label for="monedaOrigenTransaccion" class="form-label">Moneda Origen</label>
              <input type="text" class="form-control" id="monedaOrigenTransaccion" aria-describedby="monedaOrigenAyuda">
              <div id="precioTicketAyuda" class="form-text">Seleccione alguna Moneda de Origen</div>
            </div>
            <div class="mb-3">
              <label for="cantidadOrigenTransaccion" class="form-label">Cantidad de Origen</label>
              <input type="number" class="form-control" id="cantidadOrigenTransaccion" aria-describedby="cantidadDeOrigenAyuda" step="0.01">
              <div id="cantidadDeOrigenAyuda" class="form-text">Recuerde que al poner el numero con decimal debe hacerlo asi 59,52</div>
            </div>
            <div class="mb-3">
              <label for="monedaDestinoTransaccion" class="form-label">Moneda Destino</label>
              <input type="text" class="form-control" id="monedaDestinoTransaccion" aria-describedby="monedaDestinoTransaccionAyuda">
              <div id="monedaDestinoTransaccionAyuda" class="form-text">Seleccione alguna Moneda de Destino distinta a la inicial</div>
            </div>
            <div class="mb-3">
              <label for="emailClienteTransaccion" class="form-label">Email del Cliente</label>
              <input type="email" class="form-control" id="emailClienteTransaccion" aria-describedby="emailClienteTransaccionAyuda">
              <div id="emailClienteTransaccionAyuda" class="form-text">Usaremos este mail poder comunicarnos con usted si es necesario</div>
            </div>
            <div class="mb-3">
              <label for="tasaConversionTransaccion" class="form-label">Tasa de Conversion</label>
              <input type="number" class="form-control" id="tasaConversionTransaccion" aria-describedby="tasaConversionTransaccionAyuda">
              <div id="tasaConversionTransaccionAyuda" class="form-text">Coloque la tasa de conversión que desea</div>
            </div>

            <div class="mb-3">
              <button class="btn btn-success w-100"> Calcular Cantidad Destino</button>
            </div>

            <div class="mb-3">
              <span>Cantidad Destino</span>
            </div>

          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-outline-success w-100">Enviar</button>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-listar" role="tabpanel" aria-labelledby="pills-listar-tab" tabindex="0">
      <div class="card m-2">
        <div class="card-header">
          <h3>Listar Transacciones</h3>
        </div>
        <div class="card-body">
          <div class="nav nav-tabs mb-2" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-email-tab" data-bs-toggle="tab" data-bs-target="#nav-email" type="button" role="tab" aria-controls="nav-email" aria-selected="true">Buscar Por Email</button>
            <button class="nav-link" id="nav-moneda-tab" data-bs-toggle="tab" data-bs-target="#nav-moneda" type="button" role="tab" aria-controls="nav-moneda" aria-selected="false">Radio Moneda Origen y Destino</button>
            <button class="nav-link" id="nav-listar-tab" data-bs-toggle="tab" data-bs-target="#nav-listar" type="button" role="tab" aria-controls="nav-listar" aria-selected="false">Listar todos</button>
          </div>
          <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-email" role="tabpanel" aria-labelledby="nav-email-tab" tabindex="0">
            <div class="mb-3">
              <label for="emailClienteTransaccionBuscar" class="form-label">Email del Cliente</label>
              <input type="email" class="form-control" id="emailClienteTransaccionBuscar" aria-describedby="emailClienteTransaccionBuscarAyuda">
              <div id="emailClienteTransaccionBuscarAyuda" class="form-text">Este debe ser un mail registrado para que encuentre los datos</div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-moneda" role="tabpanel" aria-labelledby="nav-moneda-tab" tabindex="0">
            <div class="row">
              <div class="col-6">
                <div class="mb-3">
                  <label for="monedaOrigenTransaccionBuscar" class="form-label">Moneda Origen</label>
                  <input type="text" class="form-control" id="monedaOrigenTransaccionBuscar" aria-describedby="monedaOrigenTransaccionBuscarAyuda">
                  <div id="monedaOrigenTransaccionBuscarAyuda" class="form-text">Seleccione alguna Moneda de Origen</div>
                </div>
              </div>
              <div class="col-6">
                <div class="mb-3">
                  <label for="monedaDestinoTransaccionBuscar" class="form-label">Moneda Destino</label>
                  <input type="text" class="form-control" id="monedaDestinoTransaccionBuscar" aria-describedby="monedaDestinoTransaccionBuscarAyuda">
                  <div id="monedaDestinoTransaccionBuscarAyuda" class="form-text">Seleccione alguna Moneda de Destino distinta a la inicial</div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-listar" role="tabpanel" aria-labelledby="nav-listar-tab" tabindex="0"></div>
        </div>
          <button class="btn btn-success w-100 m-2"> Listar </button>
          <div class="row">
            <div class="col-12 col-sm-6 col-md-4">
              <div class="card pb-0 m-2" style="width: 18rem;">
                <img src="assets/imagenes-menu/transacciones.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

